body.email { text-align:center; background-color:#fff; margin:20px; font-family:verdana,sans-serif; font-size: 11px; }
table.center {
	text-align:left;
	width:594px; 
	background-color:#e3e3e3;
	border-width:0px; 
	border-spacing:1px; 
	margin:14px 0px 0px 0px;
}
table.center td			{ padding:4px 3px 4px 3px; }
table.center tr			{ background-color:#fff; vertical-align:top; }
table.center td.head	{ padding:1px 2px 1px 4px; height:24px; font-size:13px; color:#fff; vertical-align:middle; }
table.center td.text	{ padding:15px; font-size:13px; line-height:20px; position:relative; }
table.center td.left	{ background-color:#ededed; width:130px; }
table.center td.bottom { text-align:center; background-color:#ededed; }
div.emailfooter { 
	width:594px; 
	border-width:0px; 
	border-spacing:1px; 
	margin:5px 0px 20px 0px;
	font-size:11px;
	color:#777;
	text-align:left;
}
