body { background-color:#fff; margin:0px; text-align:center; }
body, table, input, textarea, select { font-family:Verdana, sans-serif; color:#444; font-size:12px; margin:0px; }

/*layout*/
#container 		{ width:900px; margin:3px auto 30px auto; text-align:left; }
#left			{ float:left; position:relative; width:590px; z-index:2; }
#left, #left table.table { font-size:12px; }
#right			{ float:right; position:relative; width:290px; z-index:1; }
#right, #right table { font-size:11px; }
#footer			{ float:right; clear:right; font-size:10px; color:#ccc; margin:10px 0px 0px 0px; }
#subfooter		{ clear:both; height:20px; }


a, input, textarea { outline:none; }
h1				{ font-size:18px; line-height:22px; font-weight:normal; margin:0px; }
img				{ border-width:0px; }
p				{ margin:4px 0px 14px 0px; }
table.left td.title, a.title, span.title { font-size:18px; }

/* general form elements */
form					{ margin:0px; padding:0px; }
input, select, textarea { font-size:13px; background-color:#fff; border:1px solid #ddd; padding:2px; }
input.text				{ width:500px; height:26px; vertical-align:middle; }
	
input.button   {
	border:none;
	background-color:#999;
	color:#fff;
	min-width:200px;
	padding:0px 20px 2px 20px;
	height:24px;
	line-height:10px;
	margin:0px;
	font-size:12px;
	text-transform:uppercase;
	cursor:pointer;
}
input.button:hover { background-color:#bbb; }

input.checkbox	{ border:none; padding:0px; margin:0px; background-color:transparent; }
input.file		{ border:none; }
textarea		{ width:500px; height:300px; }
textarea.thread { border-width:0px; width:435px; }


/*thread*/
a, a.out		{ color:#0000ff;  text-decoration:none; }
a:hover, a.over	{ color:#d8282d;  text-decoration:underline; }


/* help */
#help { border:1px solid #bbb; background-color:#ededed; width:570px; min-height:22px; padding:9px 11px 0px 11px; margin-bottom:14px; }
#helptext { font-size:12px; line-height:20px; clear:both; }
#helptext p { padding:0px; margin:0px 0px 10px 0px; }
#help a { margin-bottom:14px; }

a.left { float:left; margin-right:5px; }
a.right { float:right; margin-left:5px; }

a.button { color:#fff; background-color:#999; text-transform:uppercase; font-size:9px; line-height:8px; padding:2px 4px 3px 4px; }
a.button:hover { color:#fff; background-color:#ccc; text-decoration:none; }

a.button-light { color:#555; background-color:#eee; text-transform:uppercase; font-size:9px; line-height:8px; padding:2px 4px 3px 4px; }
a.button-light:hover { color:#555; background-color:#fee; text-decoration:none; }

.block { color:#fff; padding:1px 3px 1px 3px; text-decoration:none; }
.block:hover { color:#fff; padding:1px 3px 1px 3px; text-decoration:none; }
	
div.message { 
	width:560px; 
	border:1px solid #bbb;
	background-color:#fffce0;
	padding:16px;
	font-size:13px;
	line-height:18px;
	margin:0px 0px 14px 0px;
}

#panel {
	width:572px; 
	border:1px solid #bbb;
	font-size:13px;
	line-height:18px;
	margin:0px 0px 14px 0px;
	text-align:center;
	padding:10px;
	background-color:#ededed;
}


/* main colors */
#left.areas table.table th.title, #left.areas form fieldset legend, #left.areas table.navigation, #right table.areas td.head									{ background-color:#d8282d; }
#left.bb table.table th.title, #left.bb form fieldset legend, #left.bb table.navigation, #right table.bb td.head												{ background-color:#336633; }
#left.cal table.table th.title, #left.cal form fieldset legend, #left.cal table.navigation, #right table.cal td.head											{ background-color:#336699; }
#left.contacts table.table th.title, #left.contacts form fieldset legend, #left.contacts table.navigation, #right table.contacts td.head						{ background-color:#12253c; }
#left.docs table.table th.title, #left.docs form fieldset legend, #left.docs table.navigation, #right table.docs td.head										{ background-color:#6a476a; }
#left.external-orgs table.table th.title, #left.external-orgs form fieldset legend, #left.external-orgs table.navigation, #right table.external-orgs td.head	{ background-color:#996633; }
#left.helpdesk table.table th.title, #left.helpdesk form fieldset legend, #left.helpdesk table.navigation, #right table.helpdesk td.head						{ background-color:#996633; }
#left.press-clips table.table th.title, #left.press-clips form fieldset legend, #left.press-clips table.navigation, #right table.press-clips td.head			{ background-color:#3398bb; }
#left.staff table.table th.title, #left.staff form fieldset legend, #left.staff table.navigation, #right table.staff td.head									{ background-color:#666666; }


/* hilite colors */
#left.areas table.navigation tr, #left.contacts form fieldset div.admin			{ background-color:#ffdddd; }
#left.bb table.navigation tr, #left.bb form fieldset div.admin			{ background-color:#ddeedd; }
#left.docs table.navigation tr, #left.docs form fieldset div.admin			{ background-color:#e8dae8; }
#left.staff table.navigation tr, #left.staff form fieldset div.admin			{ background-color:#e6e6e6; }
#left.cal table.navigation tr, #left.cal form fieldset div.admin			{ background-color:#ddeeff; }
#left.press-clips table.navigation tr, #left.press-clips form fieldset div.admin	{ background-color:#c3d8e5; }
#left.contacts table.navigation tr, #left.contacts form fieldset div.admin		{ background-color:#e6e6e6; }
#left.helpdesk table.navigation tr, #left.helpdesk form fieldset div.admin		{ background-color:#efdfcf; }
#left.external-orgs table.navigation, #left.external-orgs form fieldset div.admin tr	{ background-color:#efdfcf; }


/* navigation */
table.navigation { list-style:none; margin:0px 0px 15px 0px; width:594px; border:none; height:22px; text-align:center; }
table.navigation td { padding:3px; }
table.navigation td.selected { font-weight:bold; background-color:#fff; }


/* table */
#left table.table { border:1px solid #ddd; border-bottom:0px; width:594px; margin:0px 0px 14px 0px; }
#left table.table th.title { font-size:13px; height:19px; color:#fff; line-height:19px; padding-left:4px; }
#left table.table th.title a { color:#fff; }
#left table.table th.title span { float:left; }
#left table.table td, #left table.table th { padding:3px; border-bottom:1px solid #ddd; }
#left table.table th.c, #left table.table td.c { text-align:center; }
#left table.table th.r, #left table.table td.r { text-align:right; }
#left table.table th.d, #left table.table td.d { width:18px; text-align:center; }

#left table.table th { font-weight:normal; font-size:11px; background-color:#f0f0f0; color:#999; text-align:left; }
#left table.table th a.right { font-size:9px; margin:0px; padding:0px 3px; text-transform:uppercase; }
#left table.table td { height:27px; }
#left table.table td.empty { background-color:#f0f0f0; vertical-align:middle; height:120px; text-align:center; line-height:20px; font-size:13px; color:#666; }
#left table.table ul.header { margin:0px; padding:0px; font-size:10px; line-height:18px; list-style-type:none; text-transform:uppercase; float:right; }
#left table.table ul.header li { float:left; margin:0px 5px 0px 5px; }
#left table.table td.group { vertical-align:bottom; font-weight:bold; height:50px; }
#left table.table td.draggy:hover { cursor:move; }

#left table.table tr.thread { height:36px; vertical-align:middle; font-size:12px; }
#left table.table tr.admin { background-color:#fffce0; }
#left table.table tr.thread:hover { background-color:#f4f4f4; cursor:pointer; }
#left table.table tr.thread:hover a { text-decoration:underline; color:#d8282d; }
#left table.table tr.total { background-color:#f0f0f0; color:#999; }
	
div.dropmarker {
	height:2px;
	background-color:black;
	width:594px;
	color:transparent;
	z-index:1000;
	margin:0px;		      
}


/* form */
#left form fieldset { padding:25px 0px 0px 0px; margin:0px 0px 14px 0px; border:1px solid #ccc; position:relative; width:592px; }
#left form fieldset legend { font-size:13px; height:25px; color:#fff; padding-left:4px; width:586px; line-height:24px; color:#fff; margin:none; position:absolute; top:0px; }
#left form fieldset legend a { color:#fff; }

#left form fieldset div.field { border-bottom:1px solid #ccc; padding:3px; overflow-y:auto; background-color:#eee; }
#left form fieldset div.field label { line-height:26px; width:100px; display:block; float:left; }
#left form fieldset div.field input.text { width:486px; }
#left form fieldset div.field input.checkbox { margin-right:7px; }
#left form fieldset div.field input.file { background-color:transparent; }
#left form fieldset div.checkbox { height:18px; line-height:18px; overflow-y:hidden; }
#left form fieldset div.checkbox span.additional:hover { cursor:pointer; }
#left form fieldset div.checkboxes ul { overflow:auto; margin:0px; padding:0px; font-size:11px; }
#left form fieldset div.checkboxes li { display:block; width:138px; padding-left:19px; float:left; margin:2px; }
#left form fieldset div.checkboxes input { margin-left:-19px; }
#left form fieldset div.checkboxes li span.option_name:hover { cursor:pointer; }
#left form fieldset div.field textarea { width:486px; height:280px; }
#left form fieldset div.field select { background-color:#fff; border:1px solid #ccc; height:26px; }
#left form fieldset div.submit { text-align:center; border-bottom:none; background-color:#ddd; }
#left form fieldset div.submit input.submit { color:#fff; background-color:#999; text-transform:uppercase; padding:3px 14px 3px 14px; }
#left form fieldset div.submit input.submit:hover { cursor:pointer; }

/*google translate test*/
#left form.foobar fieldset div.field { overflow:visible; }


/* layout, eg press clips export */
div.press_export { width:552px; border:1px solid #ddd; background-color:#f7f7f7; padding:20px; height:400px; overflow-y:scroll; margin-bottom:14px; }
textarea.press_export { width:594px; height:120px; }

/* right column */
/* tools */
#tools { font-size:11px; border:1px solid #bbb; background-color:#ededed; padding:9px 8px 0px 8px; }
#tools input { background-color:#fff; width:273px; height:22px; margin:7px 0px 5px 0px; font-size:12px; border:1px solid #ccc; color:#999; padding:3px; }
#tools select { margin:7px 0px 12px 0px; }
#tools select.channels { float:left; }
#tools select.languages { float:right; }
#tools table.links { clear:both; width:288px; background-color:#fff; border:0px; padding:0px; border-top:1px solid #bbb; margin:0px -8px 0px -8px; }
#tools table.links td { vertical-align:top; padding:2px 5px 2px 5px; height:16px; }


#right table {
	width:290px; 
	background-color:#ddd;
	border-width:0px; 
	border-spacing:1px; 
	margin:14px 0px 0px 0px;
}

#right table tr { background-color:#fff; }
#right table tr.admin { background-color:#fffce0; }
#right table td { padding:4px 3px 4px 3px; }
#right table td.head { vertical-align:middle; height:13px; font-size:12px; color:#fff; line-height:18px; }
#right table td.head a { color:#fff; }
#right table td.head img { float:right; margin:2px; }
#right table td.empty { text-align:center; background-color:#eee; height:50px; color:#777; }
#right table td.helpdesk-status {
	height:68px;
	text-align:center;
	background-color:#ededed;
	color:#999;
}
#right table td.helpdesk-status:hover { cursor:pointer; }

/*deprecated*/
.head a { padding:0px; color:#fff; }
.head a:hover { color:#fff; }

.head a.right { font-size:9px; margin:0px; padding:0px 3px; line-height:22px; text-transform: uppercase;}
.head a.right:hover { text-decoration:underline; }


.head div.head-left { float:left; height:23px; line-height:20px; }
.head div.head-right { float:left; height:12px; line-height:14px;}

#left.areas table.left td.head								{ background-color:#d8282d; }
#left.bb table.left td.head								{ background-color:#336633; }
#left.cal table.left td.head												{ background-color:#336699; }
#left.contacts table.left td.head							{ background-color:#12253c; }
#left.docs table.left td.head											{ background-color:#6a476a; }
#left.external-orgs table.left td.head		{ background-color:#996633; }
#left.helpdesk table.left td.head							{ background-color:#996633; }
#left.press-clips table.left td.head				{ background-color:#3398bb; }
#left.staff table.left td.head										{ background-color:#666666; }

table.left { 
	width:594px; 
	overflow-x:hidden;
	background-color:#ddd;
	border-width:0px; 
	border-spacing:1px; 
	margin:0px 0px 14px 0px;
}
table.left tr { background-color:#fff; vertical-align:top; }
table.left td { padding:4px 3px 4px 3px; }
table.left td.head	{ padding:1px 2px 1px 4px; height:24px; font-size:13px; color:#fff; vertical-align:middle; }
table.left td.left	{ background-color:#ededed; width:130px; }
table.left td.right	{ width:414px; overflow-y:hidden; }
table.left td.bottom { text-align:center; background-color:#ededed; }
table.left tr.group td { vertical-align:bottom; font-weight:bold; height:50px; }
table.left td.empty { background-color:#f0f0f0; vertical-align:middle; height:120px; text-align:center; line-height:20px; font-size:13px; color:#666; }

table.left th { font-weight:normal; color:#999; background-color:#ededed; height:16px; padding:5px 2px 3px 2px; }

table.left td.text { width:500px; padding:10px; font-size:12px; line-height:20px; height:140px; }
table.left td.text div.text { width:420px; position:relative; min-height:160px; height:auto; }
table.left td.text div.top { padding-bottom:60px; }
table.left td.text span.caption { position:absolute; margin-top:20px; bottom:0px; left:0px; display:block; font-size:12px; line-height:17px; }
table.left tr.admin { background-color:#fffce0; }
table.left tr.thread { height:32px; vertical-align:middle; font-size:13px; }
table.left tr.thread:hover { background-color:#f4f4f4; cursor:pointer; }
table.left tr.thread:hover a { text-decoration:underline; color:#d8282d; }
table.left tr.total { background-color:#f3f3f3; text-align:right; }
.light { color:#999; }
.light a { color:#6699cc; }
table.left td.bottom { background-color:#eee; }
table.left td.bottom input.submit { color:#fff; background-color:#999; text-transform:uppercase; padding:3px 14px 3px 14px; }
table.left td.bottom input.submit:hover { cursor:pointer; }