body { background-color:#fff; margin:0px; text-align:center; }
body, table, input, textarea, select { font-family:Verdana, sans-serif; color:#444; }

/*layout*/
#container 		{ width:900px; margin:3px auto 30px auto; text-align:left; }
#left			{ float:left; position:relative; width:590px; z-index:2; }
#left, #left table { font-size:12px; }
#right			{ float:right; position:relative; width:290px; z-index:1; }
#right, #right table { font-size:11px; }
#footer			{ float:right; clear:right; font-size:10px; color:#ccc; margin:10px 0px 0px 0px; }
#subfooter		{ clear:both; height:20px; }


a, input, textarea { outline:none; }
h1				{ font-size:18px; line-height:22px; font-weight:normal; }
img				{ border-width:0px; }


/* general form elements */
form					{ margin:0px; padding:0px; }
input, select, textarea { font-size:13px; background-color:#fff; border:1px solid #ddd; padding:2px; }
input.text				{ width:500px; height:26px; vertical-align:middle; }
	
input.button   {
	border:none;
	background-color:#999;
	color:#fff; width:200px;
	padding:3px 20px 3px 20px;
	font-size:12px;
	text-transform:uppercase;
	cursor:pointer;
}
input.checkbox	{ border:none; padding:0px; margin:0px; background-color:transparent; }
input.file		{ border:none; }
textarea		{ width:500px; height:300px; }
textarea.thread { border-width:0px; width:435px; }

span.clickme { padding:1px; }
span.clickme:hover	{ cursor:pointer; background-color:#f0f0f0; }


/*thread*/
a, a.out		{ color:#0000ff;  text-decoration:none; }
a:hover, a.over	{ color:#d8282d;  text-decoration:underline; }



.head				{ background-color:#D8282D; }
th { text-align:left; }
.l { text-align:left; }
.c { text-align:center; }
.r { text-align:right; }
.x { width:16px; }

/* help */
	#help {
		border:1px solid #bbb;
		background-color:#ededed;
		width:570px;
		min-height:18px;
		font-size:12px;
		line-height:20px;
		padding:9px 11px 6px 11px;
		margin-bottom:14px;
	}
	#help div.text { padding:13px 0px 16px 0px; clear:both;  }
	a.floating { top:-20px; margin:-42px -8px 0px 0px;  }
	
	a.left { float:left; margin-right:5px; }
	a.right { float:right; margin-left:5px; }
	
	a.button { color:#fff; background-color:#999; text-transform:uppercase; font-size:9px; line-height:8px; padding:2px 4px 3px 4px; }
	a.button:hover { color:#fff; background-color:#ccc; text-decoration:none; }
	
	a.button-light { color:#555; background-color:#eee; text-transform:uppercase; font-size:9px; line-height:8px; padding:2px 4px 3px 4px; }
	a.button-light:hover { color:#555; background-color:#fee; text-decoration:none; }
	
	.block { color:#fff; padding:1px 3px 1px 3px; text-decoration:none; }
	.block:hover { color:#fff; padding:1px 3px 1px 3px; text-decoration:none; }
	

td.areas { background-color:#D8282D; }
td.areas-hilite { background-color:#ffdddd; }
td.docs { background-color:#6a476a; }
td.docs-hilite { background-color:#e8dae8; }
td.staff { background-color:#666666; }
td.staff-hilite { background-color:#e6e6e6; }
td.bb { background-color:#336633; }
td.bb-hilite { background-color:#ddeedd; }
td.cal { background-color:#336699; }
td.cal-hilite { background-color:#ddeeff; }
td.press-clips { background-color:#3398bb; }
td.press-clips-hilite { background-color:#c3d8e5; }
td.contacts { background-color:#12253c; }
td.contacts-hilite { background-color:#e6e6e6; }
td.helpdesk { background-color:#996633; }
td.helpdesk-hilite { background-color:#efdfcf; }
td.external-orgs { background-color:#996633; }
td.external-orgs-hilite { background-color:#efdfcf; }

/* pallets */
	#right .head img { float:right; margin-top:3px; }


/* tools */
	#tools {
		font-size:11px;
		border:1px solid #bbb;
		background-color:#ededed;
		padding:9px 8px 0px 8px;

	}
	#tools input { background-color:#fff; width:273px; height:22px; margin:7px 0px 5px 0px; font-size:12px; border:1px solid #ccc; color:#999; padding:3px; }
	#tools select { margin:7px 0px 12px 0px; }
	#tools select.channels { float:left; }
	#tools select.languages { float:right; }
	#tools table.links { clear:both; width:288px; background-color:#fff; border:0px; padding:0px; border-top:1px solid #bbb; margin:0px -8px 0px -8px; }
	#tools table.links td { vertical-align:top; padding:2px 5px 2px 5px; height:16px; }

/* header row */
	.head a { padding:0px; color:#fff; }
	.head a:hover { color:#fff; }
	
	.head a.right { font-size:9px; margin:0px; padding:0px 3px; line-height:22px; text-transform: uppercase;}
	.head a.right:hover { text-decoration:underline; }
	
	
	.head div.head-left { float:left; height:23px; line-height:20px; }
	.head div.head-right { float:left; height:12px; line-height:14px;}


/* going to delete all this */

.field-r { font-size:11px; background-color:#ededed; border-width:1px; }

table.left { 
	width:594px; 
	overflow-x:hidden;
	background-color:#ddd;
	border-width:0px; 
	border-spacing:1px; 
	margin:14px 0px 0px 0px;
}
table.left tr { background-color:#fff; vertical-align:top; }
table.left td { padding:4px 3px 4px 3px; }
table.left td.head	{ padding:1px 2px 1px 4px; height:24px; font-size:13px; color:#fff; vertical-align:middle; }
table.left td.left	{ background-color:#ededed; width:130px; }
table.left td.right	{ width:414px; overflow-y:hidden; }
table.left td.bottom { text-align:center; background-color:#ededed; }
table.left tr.group td { vertical-align:bottom; font-weight:bold; height:50px; }

table.left th { font-weight:normal; color:#999; background-color:#ededed; height:16px; padding:5px 2px 3px 2px; }

table.left td.text { width:500px; padding:10px; font-size:12px; line-height:20px; }
table.left td.text div.text { position:relative; min-height:160px; height:auto; padding-bottom:50px; }
table.left td.text span.caption { position:absolute; margin-top:20px; bottom:0px; left:0px; display:block; font-size:12px; line-height:17px; }

table.left tr.admin { background-color:#fffce0; }
table.left tr.thread { height:32px; vertical-align:middle; font-size:13px; }
table.left tr.thread:hover { background-color:#f4f4f4; cursor:pointer; }
table.left tr.total { background-color:#f3f3f3; text-align:right; }


table.left img#news-thumbnail { float:left; margin-right:8px; }
table.left tr.deleted { text-decoration:line-through; }
table.left td.empty { 
	background-color:#f0f0f0;
	vertical-align:middle; 
	height:120px; 
	text-align:center; 
	line-height:20px;
	font-size:13px; 
	color:#666; 
}

table.nospacing { line-height:12px; font-size:10px; border:none; padding:0px; }
table.nospacing tr { background-color:transparent; }
table.nospacing td { height:10px; vertical-align:middle; padding:0px; margin:0px; }
table.nospacing td input.checkbox { border:none; width:auto; height:auto; margin:2px 2px 4px 0px; }

table.right {
	width:290px; 
	background-color:#ddd;
	border-width:0px; 
	border-spacing:1px; 
	margin:14px 0px 0px 0px;
}

table.right tr { background-color:#fff; }
table.right tr.admin { background-color:#fffce0; }
table.right td { padding:4px 3px 4px 3px; }
table.right td.head { padding:2px 2px 0px 3px; vertical-align:middle; height:13px; font-size:12px; color:#fff; line-height:8px; }
table.right td.head img { margin:2px 2px 0px 0px; }
table.right td.empty { text-align:center; background-color:#eee; height:50px; color:#777; }
table.right td.helpdesk-status {
	height:68px;
	text-align:center;
	background-color:#ededed;
	color:#999;
}
table.right td.helpdesk-status:hover { cursor:pointer; }

table.navigation {
	width:594px; 
	height:23px; 
	border-width:0px;
	border-spacing:1px;
	margin:0px 0px 14px 0px;
	text-align:center;
}

table.navigation td.selected { background-color:#fff; font-weight:bold; }

/* experiment */
ul.navigation { list-style:none; margin:15px 0px 0px 0px; padding:0px; border:1px solid #d8282d; height:22px;}
ul.navigation li { 
	float:left; width:25%; text-align:center; font-size:11px; 
}
ul.navigation li a { display:block; background-color:#ffdddd; border-right:1px solid #d8282d; height:22px; line-height:20px; }

div.message { 
	width:560px; 
	border:1px solid #bbb;
	background-color:#fffce0;
	padding:16px;
	font-size:13px;
	line-height:18px;
	margin:14px 0px 0px 0px;
}

#panel {
	width:572px; 
	border:1px solid #bbb;
	font-size:13px;
	line-height:18px;
	margin:14px 0px 0px 0px;
	text-align:center;
	padding:10px;
	background-color:#ededed;
}

table.left tr.calendar { background-color:transparent; font-size:9px; }

/*joshlib table*/
table.table { border:1px solid #ddd; border-bottom:0px; width:594px; margin:0px 0px 14px 0px; }
table.table tr { }
table.table td, table.table th { padding:3px; border-bottom:1px solid #ddd; }
table.table th { font-weight:normal; background-color:#f0f0f0; color:#999; }
table.table td { height:26px; }
table.table td.empty { 
	background-color:#f0f0f0;
	vertical-align:middle; 
	height:120px; 
	text-align:center; 
	line-height:20px;
	font-size:13px; 
	color:#666; 
}

/*joshlib form*/
dl.form { line-height:28px; padding:0px; margin:1px 0px 10px 0px; width:600px; }

dl.form dt { height:26px; background-color:#f0f0f0; width:80px; margin:-1px 0px 0px 0px; border:1px solid #ddd; float:left; clear:left; padding:3px; }
dl.form dd { height:26px; background-color:#fff; width:499px; margin:-1px 0px 0px -1px; border:1px solid #ddd; float:left; padding:3px; }

dl.form dt.textarea { height:307px; }
dl.form dd.textarea { height:307px; }
dl.form dd.title { width:585px; margin:-1px 0px 0px 0px; }
dl.form dd.submit	{ width:586px; margin:-1px 0px 0px 0px; text-align:center; background-color:#f0f0f0; }

dl.form dd.title, table.table th.heading { font-size:13px; height:19px; color:#fff; line-height:19px; padding-left:4px; }

table.table th.heading a { color:#fff; }
table.table th.heading span { float:left; text-transform:uppercase; }

div.unassigned dl.form dd.title, div.unassigned table.table th.heading { background-color:#D8282D; }
div.areas dl.form dd.title, div.areas table.table th.heading			{ background-color:#D8282D; }
div.docs dl.form dd.title, div.docs table.table th.heading			{ background-color:#6a476a; }
div.staff dl.form dd.title, div.staff table.table th.heading			{ background-color:#666666; }
div.bb dl.form dd.title, div.bb table.table th.heading				{ background-color:#336633; }
div.cal dl.form dd.title, div.cal table.table th.heading				{ background-color:#336699; }
div.press-clips dl.form dd.title, div.press-clips table.table th.heading	{ background-color:#3398bb; }
div.contacts dl.form dd.title, div.contacts table.table th.heading		{ background-color:#12253c; }
div.helpdesk dl.form dd.title, div.helpdesk table.table th.heading		{ background-color:#996633; }
div.external-orgs dl.form dd.title, div.external-orgs table.table th.heading	{ background-color:#996633; }

/*
.areas-hilite { background-color:#ffdddd; }
.docs-hilite { background-color:#e8dae8; }
.staff-hilite { background-color:#e6e6e6; }
.bb-hilite { background-color:#ddeedd; }
.cal-hilite { background-color:#ddeeff; }
.press-clips-hilite { background-color:#c3d8e5; }
.contacts-hilite { background-color:#e6e6e6; }
.helpdesk-hilite { background-color:#efdfcf; }
.external-orgs-hilite { background-color:#efdfcf; }
*/