body { text-align:center; background-color:#fff; margin:20px; font-family:Verdana, sans-serif; color:#444; font-size:12px; }
body table {
	text-align:left;
	width:594px; 
	background-color:#e3e3e3;
	border-width:0px; 
	border-spacing:1px; 
	margin:14px 0px 0px 0px;
}

a, input, textarea, select { outline:none; }

table, input, textarea, select { font-family:Verdana, sans-serif; color:#444; font-size:12px; margin:0px; border-width:1px; }

form					{ margin:0px; padding:0px; }
input, select, textarea { margin:0px; font-size:13px; background-color:#fff; border:1px solid #ddd; padding:2px; }
input.text				{ width:500px; height:20px; vertical-align:middle; }


table td			{ padding:4px 3px 4px 3px; }
table tr			{ background-color:#fff; vertical-align:top; }
table td.head	{ padding:1px 2px 1px 4px; height:24px; font-size:13px; color:#fff; vertical-align:middle; }
table td.text	{ padding:15px; font-size:13px; line-height:20px; position:relative; }
table td.left	{ background-color:#ededed; width:130px; }
table td.bottom { text-align:center; background-color:#ededed; }

div.message { 
	text-align:left;
	width:560px; 
	border:1px solid #bbb;
	background-color:#fffce0;
	padding:16px;
	font-size:13px;
	line-height:18px;
	margin:0px auto 14px auto;
}

div.message h1 { font-weight:normal; font-size:20px; }

div.email_footer { 
	width:594px; 
	border-width:0px; 
	border-spacing:1px; 
	margin:0px auto 14px auto;
	font-size:11px;
	color:#777;
	text-align:left;
}

form div.fieldset { padding:26px 0px 0px 0px; margin:0px auto 14px auto; border:1px solid #ccc; position:relative; width:592px; text-align:left; }
form fieldset { padding:0px; margin:0px; border:0px; }
form fieldset legend {  }
form fieldset legend span { border-bottom:1px solid #ccc; display:block; position:absolute; top:0px; left:0px; font-size:13px; height:25px; padding-left:4px; width:588px; line-height:24px; color:#fff; background-color:#666; }
form fieldset legend a { color:#fff; }

form fieldset div.field { border-bottom:1px solid #ccc; padding:3px; overflow-y:auto; background-color:#eee; }
form fieldset div.field label { line-height:26px; width:100px; display:block; float:left; }
form fieldset div.field input.text { width:480px; }
form fieldset div.field input.checkbox { margin-right:7px; }
form fieldset div.field input.file { background-color:transparent; }
form fieldset div.checkbox { height:18px; line-height:18px; overflow-y:hidden; }
form fieldset div.checkbox span.additional:hover { cursor:pointer; }
form fieldset div.checkboxes ul { overflow:auto; margin:0px; padding:0px; font-size:11px; }
form fieldset div.checkboxes li { display:block; width:138px; padding-left:19px; float:left; margin:2px; }
form fieldset div.checkboxes input { margin-left:-19px; }
form fieldset div.checkboxes li span.option_name:hover { cursor:pointer; }
form fieldset div.field textarea { width:478px; height:280px; }
form fieldset div.field select { background-color:#fff; border:1px solid #ccc; height:26px; }
form fieldset div.submit { text-align:center; border-bottom:none; background-color:#ddd; }
form fieldset div.submit input.submit { color:#fff; background-color:#999; text-transform:uppercase; padding:3px 14px 3px 14px; }
form fieldset div.submit input.submit:hover { cursor:pointer; }

